/*Header styles*/
header, header p {
    text-align: center;
    font-size: 1em;
    color: #ffffff;
}
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

/* Verb list styles for under buttons */
.verb-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    text-align: center;
}

.verb-list .verb {
    font-size: 1em;
    color: #fffdfd;
    margin: 2px 0;
}

/*Main container styles for buttons div*/
.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
    padding: 4vh;
}

/* Game container styles */
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:30vh;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    max-width: 100vh;
    hyphens: auto;
    padding: 20px;
    box-shadow: 4px 8px 10px rgba(26, 25, 25, 0.384);
}

/* Button styles */
.button-1{
    border-radius: 50%;
    background-color: rgb(139, 13, 139);
    padding:10px;
    height: 4em;
    width: 4em;

}

.button-2{
    border-radius: 50%;
    background-color: rgb(104, 150, 235);
    padding:10px;
    height: 4em;
    width: 4em;

}


.button-3{
    border-radius: 50%;
    background-color: rgb(73, 196, 62);
    padding:10px;
    height: 4em;
    width: 4em;

}


.button-4{
    border-radius: 50%;
    background-color: rgb(197, 100, 8);
    padding:10px;
    height: 4em;
    width: 4em;

}


.button-5{
    border-radius: 50%;
    background-color: rgb(199, 15, 199);
    padding:10px;
    height: 4em;
    width: 4em;

}

.buttons button:hover{
    cursor:pointer;
    transform: scale(1.1);
}

.buttons button:active{
    transform: scale(1);
}

/* Output styles */
html{
    background-color: rgb(187, 166, 236);
    height: 120vh;
}

p{
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


/* Reset button styles */
.reset{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.reset:hover{
    background-color: rgb(200, 0, 0);
}


/* Surprise message styles */
.suprise{
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding:10px 20px;
    border-radius: 5px;
    background-color: rgba(43, 192, 51, 0.8);
    color:white;
}

.playback{
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}